.project {
  background-color: #f9f9f9;
  font-family: "Titillium Web", sans-serif;
  padding-top: 30px;
}

.project-title {
  text-decoration: underline;
}
.project-one {
  margin-top: 50px;
}

.project-two {
  margin-top: 50px;
}

.project-three {
  margin-top: 50px;
}

.project-four {
  margin: 50px auto 50px auto;
  padding-bottom: 50px;
}

p {
  font-size: 0.7em;
  font-family: "Montserrat", sans-serif;
}

.project-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 80%;
  margin-top: 60px;
}
