.contact {
  background-image: url(/images/coffee.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box;
  margin: 50px auto 50px auto;
  padding: 50px;
  font-family: "Titillium Web", sans-serif;
}

.contact-title {
  text-decoration: underline;
}

.contact-s-title {
  margin-bottom: 50px;
}

.email-address:hover {
  text-decoration: underline;
  color: red;
}

p {
  font-family: "Montserrat", sans-serif;
}
