.app {
  text-align: center;
  font-size: 1.5em;
  /* height: 100%;
  background-image: url(/images/background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box; */
}

.name {
  color: black;
  font-family: "Titillium Web", sans-serif;
  margin: 0px auto 0px auto;
}

.title {
  color: black;
  font-family: "Titillium Web", sans-serif;
  margin-top: 0px;
  font-size: 2.5em;
  letter-spacing: 2px;
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 60%;
}
