.home {
  text-align: center;
  font-family: "Special Elite", cursive;
  width: 900px;
  height: 320px;
  margin: 0px auto auto auto;
  color: black;
  opacity: 0.8;
  border-radius: 10px;
  display: fixed;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
}

.slider {
  margin-top: 50px;
  color: #1974d2;
}

.slide-one {
  font-size: 1.5em;
  margin-top: 0px;
}

.slide-two {
  font-weight: 250;
}

.slide-three {
}

.slide-four {
}

.slide-five {
}

.in,
.email {
  margin: 0px 20px 0px 20px;
}

.git {
  margin: 30px 20px auto 20px;
}
