.home {
  text-align: center;
  font-family: "Special Elite", cursive;
  width: 700px;
  height: 320px;
  margin: 0px auto auto auto;
  color: black;
  opacity: 0.8;
  border-radius: 10px;
  display: fixed;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
}

.slider {
  margin-top: 50px;
  color: #006699;
  font-family: "Montserrat", sans-serif;
  font-size: 70%;
}

.slide-one {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0px;
}

.in {
  margin: 0px 20px 0px 20px;
  font-size: 50px;
  color: black;
}

.email {
  margin: 0px 20px 0px 20px;
  font-size: 50px;
  color: black;
}

.git {
  margin: 30px 20px auto 20px;
  font-size: 50px;
  color: black;
}

.in:hover,
.email:hover,
.git:hover {
  color: red;
}
